h1, p {
  font-family: Lato;
}
.main{
  background-color: rgb(66, 13, 165);
  height:4em;
  text-align: center;
  color:white;
   
  
}
.page{
  margin: 10px;
  padding: 10px;

}
h5{
  font-weight: bold;
}
h6{
    background-color: orangered;
  height:3em;
  color:white;
      padding: 6px 0px
 
}
.col{
   background-color: green;
  height:3em;
  color:white;
  padding: 6px 0px
}
.col1{
   background-color: red;
  height:3em;
  color:white;
 padding: 6px 0px
}
.col2{
    box-shadow: 3px 3px 3px grey;
      height: 193px;
}
.clr{
  background-color: rgb(236, 228, 228);
}
.reg2{
  padding:100px;
  float:centre;
}
.pull-right{
  float:right;

}
.pull-left{
  float:left;
}
.reg1{
  background-color: rgb(66, 13, 165);
height:3em;
  color:white;
 padding: 6px 0px
  
}
.region{
  display: flex;

}
.boxshadow{
  box-shadow: 3px 3px 3px grey;
};
.disp-inline-flex{
  display: inline-flex
}
.button{
  background-color: orange;
  float: right;
 
  margin:10px;
}
