h1, p {
  font-family: Lato;
}
.main{
  background-color: rgb(107, 45, 223);
  height:4em;
  text-align: center;
  color:white;
   
  
}
.page{
  margin: 10px;
  padding: 10px;

}
h5{
  font-weight: bold;
}
h6{
    background-color: orangered;
  height:3em;
  color:white;
  width: 26.333333%;
  padding: 10px;
}
/* .page2{
    background-color: green;
  height:3em;
  color:white;
  float:right;
  width: 26.333333%;
  margin:100px;
  padding: 10px;
} */