h1, p {
  font-family: Lato;
}
.main{
  background-color: rgb(107, 45, 223);
  height:4em;
  text-align: center;
  color:white;
   
  
}
.page{
  margin: 10px;
  padding: 10px;

}
h6{
    background-color: orangered;
  height:3em;
  color:white;
  width: 26.333333%;
  // margin: 10px;
  padding: 10px;
}